*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: 0;
}
.inner{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.nav{
    background-color: rgba(54, 54, 54, 0.158);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > p{
        margin-left: 10px;
    }
}